body {
    background-color: rgb(245, 210, 237);
    background-image: url(https://img.wattpad.com/userbg/YunXingze.58514.jpg);
    background-repeat: repeat-y;
    background-size: 300px;
    /*these properties will be inherited by children elements*/
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(188, 9, 233);
}

main {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

header >h1 {
    text-align: center;
    padding: 10px;
}

input[type="checkbox"]:checked + span::after {
    content: "♥";
    color: pink;
    margin-left: 5px;
}

/*applies to all sections*/
section {
    width: 400px;
    border: 4px solid #fff;
    border-radius: 8px;
    margin: 10px 12px; /*top/bottom left/right*/
}

section > h2 {
    color: rgba(90, 179, 201, 0.856);
    padding: 4px 8px;
}

section:first-of-type {
    border: 4px solid rgba(90, 179, 201, 0.856);
}

/*the id has a higher specificity, so it beats out the section selector*/
#inprogress {
    border: 4px solid rgb(250, 0, 187);
}

#inprogress h2 {
    color: rgb(250, 0, 187);
}

#done {
   border: 4px solid rgb(170, 97, 238);
}

#done h2 {
    color: rgb(170, 97, 238);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 6px;
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

.inprogress li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

.done li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

h1::after {
    content: "♥";
    color: pink;
    margin-left: 5px;
}